*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: auto;
    background: #0D113A;
    overflow-x:hidden;
    
}
::-webkit-scrollbar{
    width: 0;
}
header{
    position: fixed;
    z-index: 10;
    width: 100%;
    margin: 0;
    height: 180px;
    background: #032ea5;
    display: flex;
    top: 0;
    align-items:last baseline;
    justify-content: space-between;
}
.policy h1{
  color:cyan;
  font-size:24px ;
  margin-left: 10px;
}
.policymain{
  width: 100%;
  height:auto;
  margin: 0;
  background: #fff;
  margin-top: 13%;
}
.policies{
  padding: 10px;
}
.logo{
  position: absolute;
  top: 0px;
}
.logo img{
  width: 150px;
}
nav{
    padding: 10px 5px;
}
nav .icon{
    width: 25px;
    margin-left: 10px;
    margin-right: 10px;
}
nav a{
  position: relative;
  color: rgb(0, 0, 0);
  font-size: 18px;
  text-decoration: none;
  padding: 10px 10px 0 10px;
  border-radius: 4px;
  transition: .5s;
  cursor: pointer;
}
.nav{
  position: absolute;
}
.nav .menuicon{
  width: 30px;
  display: none;
}
.menuicon{
    background: none;
    
}
nav a:hover{
  color: cyan;
  z-index: 10;
}
nav a:hover:before{
  position: absolute;
  content: '';
  width:100% ;
  top: -10px;
  bottom: 0px;
  height: 51.4px;
  background: #0D113A;
  z-index: -10;
}
nav a:last-child{
  display: none;
}

.user{
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.user .inbox{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 30px;
}
.user .inbox .icon{
    
    width: 30px;
    height: 30px;
    margin-right:20px;
}
.user .inbox a{
    position: relative;
}
.user .inbox a span{
    position: absolute;
    width: 20px;
    top: -5px;
    right: 7px;
    height: 20px;
    border-radius: 50%;
    background: red;
    text-align: center;
    color: #000000;
    font-size: 18px;
}
.user .icon{
    display: block;
    margin: auto;
    background: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid white;
}
.userdiv{
    display:flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid cyan;
    border-radius: 50px;
}
.userdiv h2{
    color: cyan;
    text-align:end;
    margin-left: 5px;
    margin-right: 5px;
}
.dropdown{
    position: relative;
    border-left: 2px solid cyan;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    padding-top: 10px;
}
.dropdown img{
    width: 25px;
}
/* #######################################################profile container######################################################################## */
.profilecontainer{
  position: absolute;
  width: 179px;
  background: #0D113A;
  top: 43px;
  border: 2px solid cyan;
  right: -3px;
  /* border-top: none; */
  padding: 10px;
  padding-bottom:20px ;
  border-bottom-left-radius:25px ;
  border-bottom-right-radius:25px ;
  display: none;
  transition: .5s;
}
.profilecontainer::before{
  position: absolute;
  content: '';
  width: 38px;
  height: 48px;
  background: #0D113A;
  top: -45px;
  right:-1.5px;
  border-right: 2px solid cyan;
  z-index: -10;
  border-top-right-radius: 25px;
}
/* .profilecontainer::after{
  position: absolute;
  content: '';
  width: 30px;
  height: 48px;
  background: #0D113A;
  top: -45px;
  left:-1.9px;
  border: 2px solid cyan;
  z-index: -10;
  border-top-left-radius: 25px;
} */
.profilecontainer a{
  position: relative;
  top: 0;
  display: block;
  text-decoration: none;
  margin-top:20px ;
  color: #0307ff;
  font-size: 16px;
  z-index: 10;
  padding: 6px 0 6px 0;
  left: 0;
}

.profilecontainer a:hover{
    width:  100%;
    background:rgb(53, 3, 97);
    color: cyan;
  }
.profilecontainer a::before{
  position: absolute;
  content: '';
  width: 0px;
  height:3px ;
  top: 0;
  background: rgb(0, 238, 255);
  transition: .5s;
  z-index: -10;
  
}
.profilecontainer a::after{
  position: absolute;
  content: '';
  width: 0px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  height:3px ;
  bottom: 0;
  right: 0;
  background: rgb(0, 238, 255);
  transition: .5s;
  z-index: -10;
}

.profilecontainer a:hover::before{
  animation-name: flow;
  animation-duration: 1s;
  animation-delay: .2s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode:both;
}
@keyframes flow{
  0%{
    width: 0px;
    height:3px ;
    top: 0;
  }
  100%{
    width: 100%;
    height:3px ;
    top: 0;

  }

}
.profilecontainer a:hover::after{
  animation-name: flow1;
  animation-duration: 1s;
  animation-delay: .2s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode:both;
}
@keyframes flow1{
  0%{
    width: 0px;
    height:3px ;
    bottom: 0;
  }
  100%{
    width: 100%;
    height:3px ;
    bottom: 0;

  }

}
.closeit {
  position: absolute;
  width: 20px;
  right: 13px;
  top: -5px;
}
.closeit button{
  width: 30px;
  height: 30px;
  cursor: pointer;
  color: cyan;
  background: transparent;
  font-size: 26px;
  border: none;
  font-weight: 900;
  text-align: center;
}

/*##################################################profile details##################################################### */
.personal-content{
    position: absolute;
    transition: .5s;
    width: 350px;
    height: 100vh;
    background: #0D113A;
    top:-1.8px;
    padding: 5px;
    z-index: 10;
    border: 2px solid cyan;
    right:0;
  }
  .profiletopic{
    width: 100%;
    border: 2px solid cyan;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
  }
  .profiletopic h1{
    color: blue;
    font-size: 20px;
  }
  .profiletopic button{
    width: 90px;
    padding: 5px 0;
    border: 2px solid blue;
    color: blue;
    background: cyan;
    border-radius: 4px;
  }
  .personalpic{
    width: 100%;
    position: relative;
    border: 2px solid cyan;
    margin-top: 10px;
    padding: 5px;
    height: 110px;
  }
   .personalpic img{
    width: 95px;
    height: 95px;
    object-fit:scale-down;
    float: left;
    border: 2px solid cyan;
  }
  .personalpic input{
    display: none;
  }
  .personalpic label{
    position: absolute;
    padding: 5px 10px;
    border-radius: 4px;
    color: blue;
    top: 62%;
    left: 40%;
    background-color: cyan;
    border: 2px solid blue;
  }
  .personal-details span h2{
    width: 100%;
    margin-top: 5px;
    font-size: 18px;
    color:cyan;
    padding-left: 3px;
  }
  .personal-details span h3{
    border: 2px solid cyan;
    padding-left: 3px;
    font-size: 11px;
    padding: 5px 3px;
    color: #fff;
  }
  .activities{
    width: 100%;
    height: 350px;
    border: 2px solid cyan;
    padding: 10px 5px;
  }
  .activities ul li{
    list-style-type: none;
  
  height: 30px;
  margin-bottom: 25px;
  }
/*################################# main section############################################## */
.main-content{
    width: 100%;
    padding: 0;
    margin: 0;
    z-index: 100;
    margin-top: 13.5%;
}
/*############################################# home section######################################################## */

.posts{
    display: flex;
    margin-top: 10px;
    width: 100%;
}
/* ###################################################posting section############################################ */
.posting-section{
    width: 100%;
    position: absolute;
    height: 100vh;
    top: 0;
    overflow-y: hidden;
    height: 200vh;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    background:#0D113A;
    display: none;

   }
   .upload-form{
    margin-top:50% ;
    width: 100%;
    margin:auto;
    padding: 20px;
  
   }
   .upload-form h2{
    color: cyan;
  }
  .postinitial{
    padding:5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
   .mypost .tittle h1{
    color:cyan;
    margin-bottom: 20px;
   }
   #postContent{
    height: 250px;
   }
   .leave{
    width:130px;
    padding:7px 10px;
    color:blue;
    font-weight:bolder;
    border-radius:4px;
    border:2px solid blue;
    background:#0ef;
    cursor: pointer;
    transition: .5s;
   }
   .upload-input{
    width:100% ;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid cyan;
    border-radius: 7px;
   }
   .uploadinput{
    width:100% ;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid cyan;
    border-radius: 7px;
   }
   .upload-input:focus,.uploadinput:focus{
    outline: none;
   }
   .upload-btn{
    width: 100%;
    padding: 10px;
    background: cyan;
    color:blue;
    border-radius: 4px;
    cursor: pointer;
    transition: .5s;
    border: 2px solid blue;
   }
  .leave:hover,
  .upload-btn:hover,
  .profiletopic button:hover,
  .personalpic label:hover,.formalert .okbtn:hover{
    border: 2px solid cyan;
    color: cyan;
    background-color: blue;
  }
  /* ################################alert forms############################## */
  .formalert{
    position: absolute;
    z-index: 100;
    border: 2px solid cyan;
    top: 30vh;
    height: 160px;
    background: #fff;
    left: 40%;
    border-radius: 4px;
    display: none;
  
  }.okbtn{
    float: right;
    width: 40px;
    text-transform: uppercase;
    height: 40px;
    font-size: 18px;
    border: 2px solid blue;
    border-radius: 4px;
    background-color: cyan;
    color: blue;
    font-weight: 800;
    cursor: pointer;
    margin-right: 5px;
    transition: .5s;
  }
  
  .formalert h1{
    color: red;
    font-size: 18px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    background-color: cyan
  }
  .formalert h2{
    font-size: 16px;
    margin: 5px;
  }
  .formalert .hello img{
    width: 30px;
    margin-right: 10px;
  }
  .formalert .hello span{
    color: red;
  }
  
  /*#################################################### column 1############################################################## */
.col1{
    width: 25%;
    height: 100vh;
    
}
/*#################################################### column 2############################################################## */
.col2{
    padding: 0 5px;
    width: 50%;
    height: 100vh;
    position: relative;
    
}
.postbox{
    margin:0;
    width: 100%;
    padding: 5px;
    border: 2px solid cyan;
    margin-bottom: 20px;
}
.top{
    width: 100%;
    padding: 10px;
    height: 80px;
    border: 2px solid cyan;
    display: flex;
    align-items: center;
    justify-content: left;
    
}
.top .profileImage{
    width: 60px;
}
.topicbox{
    margin-left: 40px;
}
.topicbox h2{
    color: cyan;
    font-size: 24px;
}
.topicbox span{
    color: cyan;
}
.postbody{
    margin-top: 10px;
    padding: 10px;
}
.postbody p{
    color: white;
}
.postpic{
    width: 200px;
    margin: 10px;
    margin-top:0 ;
    margin-left: 0;
}
.actions{
    width: 100%;
    border: 2px solid cyan;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    border-radius: 4px;
    }
    .actions .acticon{
    width: 30px;
    }
/*#################################################### column 3############################################################## */
.col3{
    width: 25%;
    height: 100vh;
    position: relative;
   
}
/*##################################################profile details##################################################### */
.personal-content{
  position: absolute;
  transition: .5s;
  width: 300px;
  background: #0D113A;
  padding: 5px;
  top: 27%;
  border: 2px solid cyan;
  right:-400px;
}
.profiletopic{
  width: 100%;
  border: 2px solid cyan;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}
.profiletopic h1{
  color: blue;
  font-size: 20px;
}
.profiletopic button{
  width: 90px;
  padding: 5px 0;
  border: 2px solid blue;
  color: blue;
  background: cyan;
  border-radius: 4px;
  cursor: pointer;
}
.personalpic{
  width: 100%;
  position: relative;
  border: 2px solid cyan;
  margin-top: 10px;
  padding: 5px;
  height: 110px;
}
 .personalpic img{
  width: 95px;
  height: 95px;
  object-fit:scale-down;
  float: left;
  border: 2px solid cyan;
}
pic input{
  display: none;
}
.personalpic label{
  position: absolute;
  padding: 5px 10px;
  border-radius: 4px;
  color: blue;
  top: 62%;
  cursor: pointer;
  left: 40%;
  background-color: cyan;
  border: 2px solid blue;
}
.personal-details span h2{
  width: 100%;
  margin-top: 5px;
  font-size: 18px;
  color:cyan;
  padding-left: 3px;
}
.personal-details span h3{
  border: 2px solid cyan;
  padding-left: 3px;
  font-size: 11px;
  padding: 5px 3px;
  color: #fff;
}
/* ################################################# earnings ################################################################ */

.earnings{
  padding: 0 20px 50px 20px;
  width:100%;
  margin-top: 13%;
  height: 120vh;
  background:#0D113A;
  padding: 5px;
}
.earnings .headings{
  width:100%;
  border:2px solid cyan;
  
  padding: 5px;
}

.earnings .headings h1{
  text-align: center;
  color:cyan;
}
.earningsbox p{
  color: cyan;
  font-size: 20px;
}
.earnings .earningsbox{
  width:100%;
  margin: 0;
  margin-top: 70px;
  display: flex;
  height: 70vh;
  justify-content: space-between;
  align-items: center;
}
.moneybox{
  margin-right: 90px;
  margin-left: 50px;
}
.moneybox button{
  width: 100%;
  border: 2px solid cyan;
  background: blue;
  padding: 6px;
  border-radius: 4px;
  font-size: 18px;
  color: cyan;
  cursor: pointer;
}
.headings button{
  width: 80px;
  border: 2px solid cyan;
  background: blue;
  padding: 6px;
  border-radius: 4px;
  font-size: 18px;
  color: cyan;
  cursor: pointer;
}
.moneybox button:hover{
  border: 2px solid blue;
  color: blue;
  background: cyan;
}
.earnings .earningsbox input{
  width: 300px;
  height: 30px;
  margin-bottom: 20px;
}
.earnings .earningsbox label{
  font-size: 20px;
  font-weight: 700;
  color: cyan;
}
.slogan{
  width:100% ;
}
.slogan p{
  text-align: center;
  color: white;
  font-size: 18px;
}
.slogan span{
  font-size: 40px;
  font-weight: 900;
  color: cyan;
}
/* ########################################################### MOBILE RESONSIVE ######################################################### */
@media screen and (max-width: 680px ){
  body{
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x:none;
  }
  header{
    display: block;
    height: auto;
    padding: 0 0 0 10px;
  }
 
  nav a:hover{
    background: #0D113A;
  }
  nav{
    margin-top: 20px;
    display: none;
  }
  nav a{
    
    padding: 5px;
    display: block;
    font-size: 10px;
  }
  nav a .icon{
    width: 15px;
    padding: 0;
  }
  nav a:hover::before{
    height: 0px;
    top: 8px;
    width: 0%;
  }
  .logo{
    display: none;
  }
  .nav{
    top: 0;
    right: 0;
  }
  .nav .menuicon{
    position: absolute;
    margin-bottom: 10px;
    display: block;
    
    right: 10px;
  }
  nav a:last-child{
    display: block;
  }
  nav a:last-child:hover::before{
    width: 0;
  }
  .menuicon a:hover::before{
    width: 0;
  }
  .user .inbox{
    margin-top: 25px;
  }
  .user .inbox .icon{
    width: 20px;
    height: 20px;
  }
  .user .inbox a span{

    width: 15px;
    height:15px ;
    font-size: 14px;
    right: 10px;
  }
  .userdiv{
    margin-top: 30px;
    width: 55px;
    height: 28px;
    margin-bottom: 10px;
  }
  .userdiv .profileImage{
    width: 25px;
    height: 25px;
    float: left;
  }
  .userdiv h2{
    display: none;
  }
  .dropdown{
    border: none;
  }
  .dropdown img{
    width: 20px;
  }
  .main-content{
    margin-top: 70px;
  }
  .col2{
    position: relative;
    width: 100%;
  }
  .col1{
    width: 0;
  }
  .col3{
    width: 0;
  }
  .profilecontainer{
    right: -2.5px;
    top:46px;
  }
  .profilecontainer::before{
    display: none;
  }
  .personal-content{
    top: 13%;
    z-index: 0;
    height: 100vh;
  

  }
  .posting-section{
    width: 100%;
    position: absolute;
    margin-top: 0%;
    height:100vh;
   
    margin: 0;
  }
.postbody p{
  font-size: 12px;
}
.topicbox h2{
  font-size: 16px;
}
.topicbox span{
  font-size: 10px;
}
.postbox{
  margin-bottom: 10px;
}
  .earnings{
    margin-top: 21%;
    width: 100%;
    height: 12
    0vh;
  }
  .earnings .earningsbox{
    width: 100%;
    display: block;
  }
  .moneybox{
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
  }
  .earningsbox p{
    text-align: center;
    font-size: 16px;
  }
  .slogan{
    height: 80px;
  }
  .earnings .earningsbox label{
    font-size: 16px;
  }
  .slogan span{
    display: block;
  }
  .formalert{
    width: 300px;
    left:3px;
  }

}
.policy h1{
  color:cyan;
  font-size:18px ;
  margin-left: 10px;
  margin-bottom: 30px;
}